@font-face {
    font-family: Kanit;
    src: url('font/Kanit/Kanit-Regular.ttf');
  }
  *{
    font-family: Kanit;
    font-size: 20px;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-out{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 8px;
}
input{
    width: 408px;
    height: 40px;
    margin-right: 6px;
    background-color: #e8f0fe;
    border-radius: 8px;
    border: transparent;
    padding-left: 10px;
    color: black;
}
.input{
    margin: 60px 0px 20px;
}
.output{
    width: 300px;
    color: black;
    padding-left: 10px;
    margin: 0px 10px 0px 0px;
    background-color: #e8f0fe;
    height: 40px;
    border-radius: 8px;
}

button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: #ffff;
    border-radius: 8px;
    border: transparent;
}
.add-btn:hover{
    color: black;
    border: black 3px solid;
    background-color: transparent;
}
.delete-btn{background-color: crimson;}
.delete-btn:hover{
    color:  crimson;
    border:  crimson 3px solid;
    background-color: transparent;
}
.done-btn{background-color: darkcyan;}
.done-btn:hover{
    color: darkcyan;
    border: darkcyan 3px solid;
    background-color: transparent;
}
.edit-btn{background-color: green;  margin-right: 10px;}
.edit-btn:hover{
    color: green;
    border: green 3px solid;
    background-color: transparent;
}
